@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.image-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 200px;
}
.image-content{
    max-width: 100%;
}
.image-content h3{
    text-align: center;
    margin-bottom: 70px;
}
.image-content img{
    margin: 20px;
    width: 90%;
    border-radius: 12px;
    transition: transform 0.3s ease;
}
.image-content img{
    /* max-width: 400px; */
    object-fit: contain;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 20px;
}
.image-content img:hover {
    transform: scale(0.95);
}